html,
body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container
{
    width: 100%;
    height: 100%;
}

.top-bar
{
    width: 100%;
    height: 10%;
    background-color: #4fc08d;
}
.top-bar-content
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-bar-title
{
    margin-right: 500px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}


.content
{
    width: 100%;
    height: 90%;
    background-color: #e7e7e7;
    display: flex;
    overflow: scroll;
}
.area
{
    width: 30%;
    height: 100%;
}
.area-block
{
    width: 150px;
    height: 500px;
    background-color: #fff;
    margin-left: auto;
    margin-top: 30px;
    padding: 10px;
}
.area-block > span
{
    color: #835807;
    font-weight: 500;
}

.blocks
{
    width: 70%;
    height: 100%;
    padding-left: 30px;
    overflow: scroll;
    padding-bottom: 20px;
}
.block
{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 550px;
    height: 350px;
    margin-top: 30px;
}
.top
{
    height: 55%;
    border-bottom: 2px solid #e7e7e7;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.info > .title
{
    font-size: 20px;
    font-weight: 500;
}
.info > .sub-title
{
    font-size: 15px;
}
.info > .tag-container > .tag
{
    display: inline-block;
    background: #8080eb;
    color: #ffffff;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
}
.info > .ele
{
    margin: 5px 0;
}
.address
{
    /* 注意，這邊是因為父元素是Flex，所以上下才會有剩餘空間，可以給auto做計算 */
    /* auto: 會計算剩餘空間並佔據 */
    margin-top: auto;
}

.bottom
{
    display: flex;
    flex: 1;
    padding: 10px;
}
.b-e
{
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.num-des
{
    font-size: 15px;
}
.num
{
    font-size: 50px;
}
.left
{
    color: #348862;
}
.right
{
    color: #ff7002;
}